/* Header section */
.main-header{
    margin-bottom: 140px;
    width: 1570px;
    height: 670px;
    flex-shrink: 0;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
}
.banner{
    margin-top: 0px;
    padding: 190px 230px 24px 45px;
}
.banner-greeting{
    color: #151414;
    text-align: right;
    font-size: 45px;
    font-weight: 700;
}
.banner-title{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}
.contact-head{
    text-align: right;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* My failure year */

.main-header2{
    margin-bottom: 140px;
    width: 1570px;
    height: 670px;
    flex-shrink: 0;
    background-image: url('../images/person.png');
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.banner2{
    margin-top: 0px;
    padding: 190px 230px 24px 45px;
}
.banner-greeting2{
    color: #151414;
font-size: 40px;
font-weight: 700;
text-align: right;
}

.banner-title2{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}
.contact-head2{
    text-align: right;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* Plan Secion */

.tata{
    margin-top: 20px;
    color:#151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.full-aja{
    display: flex;
    gap: 74px;
    padding: 0px 450px;
}
.all-title{
    color: #151414;
}
.agun{
    text-align: center;
}

/* ghori section */

.alo{
    text-align: center;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
}
.suna{
    color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.call-head{
    color: #F15B22;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: 0;
}